# Pandas Joins for Spreadsheet Users
#### Split data
- Influenced by reporting cycle
- Common splits
    - Time
    - Geography
    - Business unit

- Complementary data
    - Results from collecting data for different purposes
    - Department-specific data
    - Storage in separate files or database tables
    
- Concatenation basics
    - Similar to spreadsheet CONCATENATE
    - Mimics copy-paste of cells
    - `pd.concat()` along rows or columns

##### Concatenating rows
Concatenating along rows is very useful when working with split data. For instance, reports are often produced annually with each year saved to a separate tab or file. You can vertically stack one or more data frames like these using pandas concat. The function will return a single data frame with data ordered by the order of the data frame names you supply, such as df1, df2, and so on. Basic concatenation works best when each input data frame has separate values for the index. That way the resulting frame will still have an index of unique values. Also, it’s worth noting that the concat function includes all rows by default. In other words, it creates an 'outer join'.
- Useful when working with split data
- `pd.concat([df1, df2, df3, ...])`
- Uses unique key(s) as data frame index
- Includes all rows by default

In [1]:
import pandas as pd
import numpy as np
# 
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar","bar", 
              "bar", "foo", "foo", "foo"], dtype=object)
b = np.array(["one", "one", "one", "two", "one", "one","one", 
              "two", "two", "two", "one"], dtype=object)
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"],
             dtype=object)
# 
pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

Any Series passed will have their name attributes used unless row or column names for the cross-tabulation are specified.

Any input passed containing Categorical data will have all of its categories included in the cross-tabulation, even if the actual data does not contain any instances of a particular category.

In the event that there aren’t overlapping indexes an empty DataFrame will be returned.

In [2]:
foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
print(foo)
print(bar)

['a', 'b']
Categories (3, object): ['a', 'b', 'c']
['d', 'e']
Categories (3, object): ['d', 'e', 'f']

In [3]:
pd.crosstab(foo, bar)

col_0  d  e
row_0
a      1  0
b      0  1

Here ‘c’ and ‘f’ are not represented in the data and will not be shown in the output because dropna is True by default. Set dropna=False to preserve categories with no data.

In [4]:
pd.crosstab(foo, bar, dropna=False)

col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0

#### Scalability
Pandas is excellent for working with large datasets. Even with a typical laptop you can manipulate millions of rows of data and go well beyond the size limit of spreadsheets. There's no hard limit on data frame size. If the data is too large for your machine to handle, you can scale up to a machine with more memory and more processing power. If that's not an option, pandas has built-in functions to work with data in chunks. For example, the pandas .read_csv() function includes a parameter to set the chunk size. You can use this parameter in combination with other functions and Python code to conserve memory. Even when you reach a limit with Pandas alone, you can combine it with other packages to take advantage of distributed computing and parallel processing. Handling datasets with hundreds of millions of rows is quite possible!

- No hard limits on data frasme size
- Built-in ways to "chunk" data
- Use distributed/parallel computing

#### Efficiency
Pandas can also save you time when joining data. You can join datasets by any number of columns if the data logically matches. For instance, if you want to join data by month and day, and both datasets contain those columns, you can join directly on the columns. There's no need to create a new column for the date or combine text columns as you might for a spreadsheet. The code behind pandas is written to make things as easy as possible. When two data frames have the same names for overlapping columns, the statement can be super simple. This merge statement joins two data frames by their common columns and common row indexes. We refer to the first data frame mentioned as the left data frame, and the data frame inside the parentheses as the right data frame.

- Join on multiple columns
- Perference for simple code
- `joined_df = left_df.merge(right_df)`

#### Integration
Finally, pandas is well-integrated into the python ecosystem. You heard earlier about packages designed to improve the speed and scale of manipulating data frames. Pandas also works well as part of an end-to-end pipeline for analytics. Other packages, especially those focused on visualization or machine learning, are written to accept pandas data frames as inputs.
- Improved speed and scale
- Data Visualization
- Machine learning

#### A word on advanced spreadsheet usage
Of course, modern spreadsheet software has advanced capabilities that make it powerful, too. Data models and query tools allow users to join data in different ways. Integration with programming languages can populate cells with the touch of a button. And formulas using XLOOKUP or index-match have great flexibility for joining data. For this course we'll still use VLOOKUP as the baseline for joining data in spreadsheets. It's a nearly universal formula familiar to spreadsheet users at all levels. And, it provides a simple, useful concept for building joins in Pandas.

- Data models and query tools
- Programing languages
- Advanced formulas

#### Types of joins
The three types are known as one-to-one, one-to-many, and many-to-many. These names describe the relationship of one table to another based on a lookup column, also known as a key column or index. In a spreadsheet environment, the values in the key column are like the lookup values in a VLOOKUP formula.

- Types
    - One-to-one
    - One-to-many
    - Many-to-many
- Join type indicates relationship of tables
- Like lookup values in VLOOKUP

##### One-to-one
We can use our first type of join, the one-to-one join, for datasets at the same level. In other words, the lookup column of each table is the same for both tables.
- Datasets at the same level
- Lookup column same for both tables
- Rows match one-to-one

##### One-to-many
One-to-many joins are slightly more complex. They apply when tables have unique rows of data at different levels.

- Rows are unique at different levels
- Join based on the higher-level column
- Result basedf on lower-level column
- Simular to VLOOKUP based on lower-level data

##### Many-tomany
The last type of join, many-to-many, is often the most difficult to treat. The many-to-many join involves datasets with repeated values in the key column for both tables.
- Values are repeated
- Results in all possible combinations
- Can be hard to interpret
- Best supplemented with a "bridge" table

#### Basics of pandas.merge()
- Used with compementary data
- `pd.merge(left, right)`
- Joins on one or more columns
- Similar to VLOOKUP

##### Left merges
- `pd.merge(df_left, df_right, on='GameKey', how='left')`
    - List data frame names for "df_left" and "df_right" placeholders
    - Resulting frame matches rows in left frame
- `pd.merge(df_left, df_right, on='GameKey', how='right')`
    - Same concept as left merge
    - Resulting frame rows match right frame

##### A framework for joins
After viewing and understanding the data:
- Determine the relationship
- Check for unique values in key column
- Write merge statement and execute

##### Joining on two keys
- Determine the relationship
- Check for unique values in key column
- Write merge statement and execute
- `pd.merge(df_left, df_right, on=['GameKey', 'PlayId'])`

##### Example
##### # Merge data frames
plays = pd.merge(play_times, play_yards, on=['GameId', 'PlayId'])

##### # Check for duplicated values in key columns
plays.duplicated(['GameId', 'PlayId']).sum()

#### Combinging common data with inner joins
- **Object-orinted expressions:**
    - `pd.merge(df_left, df_right, on=None)`
- **Shorthand, pandas dataframe method:**
    - `df_left.merge(df_right, on=None)`
    
##### A basic inner join
- Similar to VLOOKUP followed by removing NA's
    - `df1.merge(df2, on='GameKey', how='inner')`
- Returns only rows present in both tables

##### Joining on different names
- Key columns may have different names
- No need to rename columns
    - `df1.merge(df2, left_on='GameKey', right_on='game-key', how='inner')`
    - The resulting data frame will use the column name from the left-hand table.
    
##### Example
##### # Recreate merge statement
thursday_impacts = pd.merge(thursdays, impacts, on='GameKey', how='left')

##### # Rewrite merge expression
thursday_impacts_oo = thursdays.merge(impacts, on='GameKey', how='left')

##### # Compare data frames
print(thursday_impacts.equals(thursday_impacts_oo))
<br> **Boolean result** 

#### "Out of many, one"
If you look on the back of US currency, you'll see the Latin words "E Pluribus Unum" which means "Out of Many, one. 

##### One-to-many joins
- One row matches to many rows
- Resulting structure mirrors the lower level
- After viewing and understanding the data:
    - Detyermine the relationship
- Relationship examples
    - Time relationships
        - Month and days
        - Hour and minutes
    - Hierachy relationships
        - Company and departments
        - Nations and cities
    - Different entities
        - Customer and purchase orders
        - Department descriptions and expense breakdown
        
#### Joining on key columns
- **Unique key columns**
    - Unique values for single/multi column key
        - `df.duplicated('GameKey').sum()`
        - `df.duplicated(['GameKey','PlayId').sum()`
    - Full syntax:
        - `DataFrame.merge(right, how='inner', on=None, left_on=None, righ_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)`
        - **Validating merges**
            - Values for `validate`:
                - "one_to_one" or "1:1"
                - "one_to_many" or "1:m"
                - "many_to_one" or "m:1"
                - "many_to_many" or "m:m" (does nothing)

#### Index-based joins
- We can join data frames based on either generic or tailored indexes. The data frame on the left has a generic index starting with 0, which is the default for pandas data frames. It can be most easily joined to another data frame with a similar default-like index. The frame on the right has a customized multi-level index. 
- To join frames based on index, we can use the pandas data frame join method. The join method is similar to the merge method with some exceptions. It joins frames on index by default, so you don't need to specify an 'on' column. Also, you can join multiple data frames at once with the join method. Just pass a bracketed list of data frames as the 'other' frames. This feature is very useful when importing and joining many files with similar indexes.
- Joining on index
    - `DataFrame.join(other, how='')`
    - Similar to merge on columns
    - Joins on index by default
    - Can join multiple data frames
    - `df.join([df2,df3], how='')`
    
#### Joining data in real life
    - Mixing columns and indexes
        - 'df1.merge(df2, left_on='column_one', right_index=True)`
        - 'df1.merge(df2, left_index=True, right_on='column_two')`
    - Working with overlapping column names
        - df1.merge(df2, one='column_one', suffixes=('_df1', '_df2))
        - df1.merge(df2, how='outer', on='column_one', suffixes=(_df1','_df2'), indicator=True)
        - df1.merge(df2, one='column_one', suffixes=('_df1', '_df2), sort=True)

#### Working with time data
- **Joining with .merge_ordered()**
    - Pandas has a special function called merge_ordered. It behaves similarly to pandas merge for ordered data such as dates. Calling the merge_ordered function performs an outer merge by default. Note this is different from regular pandas merge, which defaults to an inner merge. It’s not a hard constraint though - you can use the ‘how’ parameter to change it.
    - `pd.merge_ordered(df1, df2, on='column_date', suffixes=['_df1','_df2'])`
- **Interpolating data**
    - `pd.merge_ordered(df1, df2, on='column_date', suffixes=['_df1','_df2'], fill_method='ffill')` 'ffill' = forward fill - the last observed value and carries forward
- **Merging to nearest date-times**
    - pandas.merge_asof()
    - matches on nearest date
    - similar to VLOOKUP(range_lookup=True)
    - `pd.nerge_asof(left_df, right_df, direction='backward')`
        - **Direction**
            - There are three options. backward forward and nearest. The default value, 'backward', selects the row in the right-hand data frame with the closest date that is earlier than the target date. 'Forward' selects the closest row in the right data frame whose date is on or later than the target date. And 'Nearest' selects the row in the right Data Frame whose date is closest to the target date, regardless of time order.
            - "backword": cloest date that is earlier
            - "foward": cloest date equal or later
            - "nearest": cloest date regardless